*{
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h1{
    font-size: 45px;
    font-weight: 100;
}
h3{
    font-size: 17px;
    font-weight: lighter;
}

.intro_bg{
    height: 750px;
    /*width:1519px;*/
    width:100%;
    background-image:url("bg/night.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header{
    display:flex;
    height:86px;
    /*width:1280px;*/
    width:100%;
    margin: auto;
    top: 0; 
}

.content1{
    font-size: 18px;
}
    
.nav{
    position:fixed;
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width:80%;
    font-weight: bold;
    
}

.nav>li{
    margin-left: 84px;
}

.nav>li>a{
    color:#fff; 
}

.intro_text{
    width:100%;
    margin:200px auto 231px auto;/*상-우-하-좌 순서 마진*/
    text-align: right;
    /* position: relative;
    left: 150px;*/


}
.intro_text > h1{
    padding-right: 140px;
    color:#fff;
    position: relative;
   /* left: 140px;*/
}
.intro_text>h3{
    padding-right:30px;
    color: #fff;
}

/* main_interpret*/

.main_interpret{
    width:100%;
    height:750px;
    background-color:#808080;
    text-align: left;
}
.main_interpret>h2{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 100px;
    color: #fff;
}
.main_interpret>h3{
    padding-top: 5%;
    padding-left: 100px;
    font-weight: lighter;
    color:#fff;
}

.main_interpret>p{
    color:#fff;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 30px;
       
}

.main_interpret>h4{
    color:#fff;
    padding-left: 100px;    
    font-weight: lighter;  
}

/*.interp_his>p{
    padding-top: 70px;
    padding-left: 100px;
    color:#fff;
    font-weight: bold;
}
.interp_his>pre{
    padding-left: 100px;
    color:#fff;
 }*/
.interp_video{
    position: flex;
    float:right;
    right:10%;
    width:650px;
    height:400px;
    margin-right: 20px;
    overflow: hidden;
}

.interp_img{
    max-width: 50%;
    height: auto;
    display: block;
    
}
.interp_img>a:link{
    color:#fff;
    text-decoration: underline;
}
.interp_img>a:visited{
    color:#fff;
    text-decoration: underline;
}

/*main_contact*/
.main_contact{
    width:100%;
    height:750px;
    background-color:#696969;
    text-align: left;
}
.main_contact>h2{
    padding-top: 200px;
    padding-left: 100px;
    color: #fff;
}

.icons{
    display:flex;
    width:70%;
    height:50%;
    margin:auto;
}

.icons>li{
    flex:1;
    height:70%;
    background: white;
    margin-top:49px;
    text-align: center;
}


.icons>li>.content1{
    margin-top: 8%;
    font-weight: bold;
    text-decoration: underline;
    
}
.icons>li:not(:last-child){
    margin-right:20px;
}

.icons>li>.icon_img2{
    margin-top: 10px;
}

/*mobile ver*/
@media screen and(max-width:480px){
    .intro_bg{
        width:auto;
    }

    .main_interpret{
        float:none;
        width:auto;
    }

   
    .main_contact{
        float:none;
        width:auto;
    }
}